.testBlock_wrapper {
    background: red;
    margin:15px;
      padding:15px;
    background: #D9EDF7;
   
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  @media screen and (max-width: 740px) {
    .testBlock_wrapper  {
      
    }
    .testBlocks {
        margin:0px;
          padding:0px;
    }
  }