@import url('https://fonts.googleapis.com/css?family=Mali|Roboto&display=swap');
.Input {
  background: white;
  color:black;
  border:none;
  position: relative;
  top:3px ;
}
.test_block {
  width: 100%;
  text-align: left;

}
.paleText {
  color:rgba(0, 0, 0, 0.42);
}

.r0 {
padding: 0.3em 0 0.3em 25px;
text-indent: -25px;

}
label:hover {
  cursor: pointer;
}
label {
  
   
  color:rgba(20, 20, 20, 0.822);
    font-size:12.0pt;
}
p {
  color:rgba(20, 20, 20, 0.822);
  font-size:12.0pt;
  font-family: 'Roboto';
}
