


.App-main_block {
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  flex-wrap:wrap;



}

.main_block-wrapper {
  margin:25px;
   width:50vw;
  padding:25px;
  background: #EEEEEE;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.App-link {
  color: #61dafb;
}
@media screen and (max-width: 740px) {
  .testBlock_wrapper  {
    width:80vw;
  }
  .testBlocks {
      margin:0px;
        padding:0px;
  }
}
